#header-img {
    width: 10vw;
    position: static;
}

#header {
    display: flex;
    flex-direction: row;
}

#nav-bar {
    position: fixed;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: green;
    }
}